.mainFormContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: url("../../images/scotland_photo-1451337.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    padding: 70px 50px 70px 50px;
    margin-top: 150px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.356);

}

.form {
    color: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.submitButton {
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
    border-style: hidden;
    color: rgb(53, 86, 114);
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.submitButton:hover {
    background-color: rgb(179, 179, 179);
}

.showCountriesdiv {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-top: 200px;
    margin-left: 80px;
    text-align: left;
}

.chosenCountry {
    display: inline-block;
    justify-content: center;
    background-color: rgb(53, 86, 114);
    color: white;
    border-radius: 30px;
    height: 40px;
    padding: 3px 20px 8px 20px;
    margin: 5px;
    
}