.cardcontainer {
    background-color: rgba(85, 107, 47, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 250px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(53, 86, 114);
    border-radius: 20px;
    
  
}



.innercontainer {
    padding: 25px;
     
}


.flagImag {
    max-width: 100px;
    max-height: 120px;
    display: flex;
    align-self: flex-start;
    opacity: 70%;
    mix-blend-mode: multiply;
    margin-bottom: 30px ;
    margin-top: 10px;
    
}

.textDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(53, 86, 114);
    margin-top: 20px;
}

.titleStyle {
    color: rgb(53, 86, 114);
    margin-bottom: 1px;
}


.textStyle {
    color: rgb(53, 86, 114);
    margin-top: 1px;
}

.cardLinks {
    text-decoration: none;

}

.infoButton {
    border-radius: 100px;
    border-style: hidden;
    color:rgb(211, 211, 211);
    font-size: 10px;
    background-color:rgb(53, 86, 114);
    padding: 8px;
    width: 80px;
}

