.mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 7%;
    margin-top: 100px;

}

.mainTitle {
    font-family:'Bitter', serif;
    font-size: 4rem;
    text-align: left;
    
}

.maintitleBox {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    color: white;
    

}

.buttoncontainer {

}

.imagButton {
    background-color: rgb(53, 86, 114);
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    border-style: hidden;
    border-radius: 50px;
    padding: 15px 40px 15px 40px;
  
}

.imagButton:hover {
    background-color: rgba(255, 255, 255, 0.281);
    color:rgb(53, 86, 114);
}